<div class="password-test">
  <div class="password-test__content">
    <h1 class="password-test__title">Check your password strength</h1>
    <input
      class="password-test__input"
      (keyup)="checkPassword(password.value)"
      type="password"
      name="password"
      placeholder="Input your password"
      #password
    >
    <section class="password-strength">
      <div
        class="password-strength__section password-strength__section--border-left"
        [class.password-strength__section--green]="passwordStrength ==='strong'"
        [class.password-strength__section--yellow]="passwordStrength ==='medium'"
        [class.password-strength__section--red]="passwordStrength === 'short' || passwordStrength === 'weak'"
      ></div>
      <div
        class="password-strength__section"
        [class.password-strength__section--green]="passwordStrength ==='strong'"
        [class.password-strength__section--yellow]="passwordStrength ==='medium'"
        [class.password-strength__section--red]="passwordStrength === 'short'"
      ></div>
      <div
        class="password-strength__section password-strength__section--border-right"
        [class.password-strength__section--green]="passwordStrength ==='strong'"
        [class.password-strength__section--red]="passwordStrength === 'short'"
      ></div>
    </section>
  </div>
</div>
